* {

    margin: 0px;
    padding: 0px;
}

body{

    background-color: #f7f7f7;
}

/*
    Potential code cleaning that we might want to do:
    site-header-container and site-nav-container in a class since they
    have similar properties

    same with site-header and nav-button
*/

.anchor{

    position: relative;
    display: block;
    visibility: hidden;
    top: -90px;
}

#scroll-follow-container{

    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
}

#site-header-container{

    background-color: #ffffff;
    width: 100%;
    text-align: center;
}

#site-header{

    padding: 10px 0px;

    transition-duration: 0.2s;
}

#site-nav-container{

    background-color: #ffffff;
    width: 100%;
}

#navigation{

    text-align: center;
    width: 100%;
}

.nav-button{

    padding: 10px 10px;
    font-size: 14px;
    display: inline-block;

    transition-duration: 0.2s;
}

.nav-link{

    text-decoration: none;
    color: #2165ae;
    letter-spacing: 1px;
}

#landing-image-container{

    margin-top: 93px;

    text-align: center;
    position: relative;
}

#landing-image{

    width: 100%;
}

.landing-text{

    color: #ffffff;

    display: block;
    position: absolute;

    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Be careful with the absolute positioning here */
#image-header{

    font-size: 36px;
    letter-spacing: 1px;
    line-height: 0.8;

    top: 35%;
}

#header-preface{

    font-size: 16px;
}

#image-subheading{

    font-size: 14px;
    letter-spacing: 0px;

    top: 55%;
}

#about-container{

    margin-top: 15px;
    background-color: #ffffff;
    text-align: center;
}

.section-title{

    font-size: 26px;
    letter-spacing: 1px;
    padding: 15px 0px;
}

#about-desc{

    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 22px;
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 15px;
}

#hosts-container{

    margin-top: 15px;
    background-color: #ffffff;
    text-align: center;
}

.host-container{

    text-align: center;
}

.host-img{

    display: block;
    width: 40%;
    margin: auto;
}

.host-header{

    font-size: 24px;
    letter-spacing: 1px;
    display: block;
    padding: 10px 0px;
}

.host-desc{

    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 22px;
    display: block;
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 15px;
}

#performers-container{

    margin-top: 15px;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}

.perf-container{

    position: relative;
    width: 70%;
    left: 15%;
    text-align: center;
    padding-bottom: 10px;
}

.perf-img{

    width: 100%;
}

.perf-overlay{

    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2; /* on hover won't work if you don't add this */
}

.perf-overlay:hover{

    opacity: 1;
}

.perf-title{

    font-size: 18px;
    letter-spacing: 1px;

    display: block;
    background-color: #ffffff;
    color: #000000;

    display: block;
    position: absolute;

    padding: 5px;
    width: 85%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);

    z-index: 3;
}

.perf-social-container{

    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    width: 50%;

    z-index: 4;
}

.hovered-stuff{

    opacity: 0;
    transition-duration: 0.7s;
}

.hovered-stuff:hover{

    opacity: 1;
}

#contact-container{

    background-color: #0a0a0a;
    padding: 10px 0px;
}

.contact-header{

    font-size: 28px;
    color: #ffffff;
    position: relative;
    left: 15%;
    padding-bottom: 0px;
}

.contact-desc{

    font-size: 16px;
    color: #ffffff;
    position: relative;
    left: 15%;
    width: 70%;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 10px 0px;
}

.social-icon-container{

    position: relative;
    left: 15%;
    width: 70%;
}

.social-icon{

    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media only screen and (min-width: 321px){

    .nav-button{

        font-size: 16px;
    }

    .perf-title{

        font-size: 20px;
    }

    .social-icon{

        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-width: 768px){

    
}
